<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/scripts/style.css">
    <link rel="shortcut icon" href="./assets/imagenes/logo_oh_my_dogs.jpg" type="image/x-icon">
    <title>Oh My Dogs! | Carrito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            
                <div><img class="logo" src="./assets/imagenes/logo_oh_my_dogs.jpg" alt=""></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./farmacia.html">Farmacia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./jugueteria.html">Jugueteria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="./contacto.html">Contacto</a>
                    </li>
                    <div class="carrito">
                        <a class="nav-link active" aria-current="page" href="#">Carrito</a>
                    </div>
                </ul>
            </div>
            
        </nav>
    </header>
    <main id="app">
        <h1>Carrito</h1>
        <template v-if="!articulos">
            <img src="./assets/imagenes/loader.gif" alt="">
        </template>
        <template v-else-if="listaCarrito.length>0">
            <div class="cart-container d-flex">
                <div class="cards-container row">
                    <div class="card col-5"v-for="producto of listaCarrito">
                        <img :src="producto.imagen" class="card-img-top" :alt="producto.producto">
                        <div class="card-body">
                            <h5 class="card-title">{{producto.producto}}</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">${{producto.precio}}</small>
                            <template v-if="producto.disponibles===0 ||
                            (producto.disponibles-producto.enCarrito)<=0">
                                <p>Sin Stock!</p>
                            </template>
                            <template v-else>
                                <p class="card-text">{{producto.enCarrito?producto.disponibles-producto.enCarrito:producto.disponibles}}</p>
                            </template>
                            <div class="card-buttons-container">
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalTarjetas" @click="ManejarDetalles(producto)">
                                    Ver mas
                                </button>
                                <template v-if="producto.disponibles===0">
                                    <button disabled class="btn btn-primary">
                                        Compar
                                    </button>
                                </template>
                                <template v-else-if="producto.enCarrito>0">
                                    <button @click="RestarAlCarrito(producto)">-</button>
                                    <span>{{producto.enCarrito}}</span>
                                    <template v-if="producto.disponibles>producto.enCarrito">
                                        <button @click="AgregarAlCarrito(producto)">+</button>
                                    </template>
                                    <template v-else>
                                        <button disabled>+</button>
                                    </template>
                                </template>
                                <template v-else>
                                    <button @click="AgregarAlCarrito(producto)"
                                    class="btn btn-primary">
                                        Comprar
                                    </button>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout d-flex flex-column align-items-center">
                    <h2>Checkout</h2>
                    <div class="checkout_details">
                        <h3>Detalles de su compra:</h3>
                        <div class="checkout_details-stats">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Articulo</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="producto of listaCarrito">
                                        <td>{{producto.producto}}</td>
                                        <td>${{producto.precio}}</td>
                                        <td>x {{producto.enCarrito}}</td>
                                        <td>${{producto.precio*producto.enCarrito}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total: </td>
                                        <td colspan="2"></td>
                                        <td>${{totalCarrito}}{{TotalCarrito()}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="checkout-shipping">
                        <label>
                            <span>Envio a domicilio</span>
                            <input v-model="envio" type="radio" name="envio" id="env-dom" value="domicilio">
                            <p>Valor: $500</p>
                        </label>
                        <label>
                            <span>Retiro en el local</span>
                            <input v-model="envio" checked type="radio" name="envio" id="env-ret" value="retiro">
                        </label>
                        <template v-if="envio==='domicilio'">
                            <div class="checkout-shipping-subsec">
                                <label>
                                    <p>Nombres</p>
                                    <input type="text" name="nombre">
                                </label>
                                <label>
                                    <p>Apellidos</p>
                                    <input type="text" name="apellidos">
                                </label>
                            </div>
                            <div class="checkout-shipping-subsec">
                                <label>
                                    <p>Direccion</p>
                                    <input type="text" name="direccion">
                                </label>
                                <label>
                                    <p>Codigo postal</p>
                                    <input type="text" name="codigoPostal">
                                </label>
                            </div>
                            <div class="checkout-shipping-subsec">
                                <label>
                                    <p>Telefono</p>
                                    <input type="tel" name="telefono">
                                </label>
                                <label>
                                    <p>E-mail</p>
                                    <input type="email" name="e-mail">
                                </label>
                            </div>
                        </template>
                    </div>
                    <div>
                        <h3>Total a pagar: {{envio==="domicilio"?totalCarrito+500:totalCarrito}}</h3>
                        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalPagar">
                            Realizar el pago
                        </button>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <h2>No hay productos en tu carrito</h2>
        </template>
        
            <!-- ---------------------------MODALES----------------------- -->
            
            <div class="modal fade" id="modalPagar" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitleId">Metodo de Pago</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label>
                                <span>Metodo de pago</span>
                                <select v-model="metodoPago"name="metodo-pago">
                                    <option value="debito">Tarjeta de Debito</option>
                                    <option value="credito">Tarjeta de Credito</option>
                                </select>
                            </label>
                            <label>
                                <span>Numero de Tarjeta</span>
                                <input type="text" name="tarjeta">
                            </label>
                            <label>
                                <span>Vencimiento</span>
                                <input type="text" name="vencimiento" maxlength="5">
                            </label>
                            <label>
                                <span>Clave de Seguridad</span>
                                <input type="password" name="claveSeguridad" maxlength="4">
                            </label>
                            <label>
                                <span>DNI</span>
                                <input type="text" name="claveSeguridad" maxlength="8">
                            </label>
                            <template v-if="metodoPago==='credito'">
                                <label>
                                    <span>Cuotas</span>
                                    <select v-model="cuotas" name="cuotas">
                                        <option value="1">1 Pago 0%CFT</option>
                                        <option value="3">3 Cuotas 130%CFT</option>
                                        <option value="6">6 Cuotas 200%CFT</option>
                                        <option value="12">12 Cuotas 250%CFT</option>
                                    </select>
                                </label>
                            </template>
                            <h3>Total a pagar: ${{ManejarPago()}}</h3>
                            <template v-if="cuotas && cuotas>'1'">
                                <h4>En {{cuotas}} cuotas de: ${{(ManejarPago()/cuotas).toFixed("2")}}</h4>
                            </template>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Pagar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="productoDetalles" class="modal fade" id="modalTarjetas" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-flex justify-content-between">
                            <h4 class="modal-title" id="modalTitleId">{{productoDetalles.producto}}</h4>
                                <button type="button" class="btn-close align-self-start" data-bs-dismiss="modal" aria-label="Close"></button>
                                
                        </div>
                        <div class="modal-body">
                            <img :src="productoDetalles.imagen" alt="imagen">
                            <h6>{{productoDetalles.categoria}}</h6>
                            <p>{{productoDetalles.descripcion}}</p>
                            <!-- <p>{{productoDetalles.precio}}</p>
                            <p>STOCK DISPONIBLE:{{productoDetalles.disponibles}}</p> -->
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <div class="d-flex gap-2 align-items-center">
                                <span class="card-text">${{productoDetalles.precio}}</span>
                                <template v-if="productoDetalles.disponibles===0 ||
                                (productoDetalles.disponibles-productoDetalles.enCarrito)<=0">
                                    <span>Sin Stock!</span>
                                </template>
                                <template v-else>
                                    <span>Disponibles: </span>
                                    <p class="card-text">{{productoDetalles.enCarrito?productoDetalles.disponibles-productoDetalles.enCarrito:productoDetalles.disponibles}}</p>
                                </template>
                            </div>
                            <div class="card-buttons-container">
                                <template v-if="productoDetalles.disponibles===0">
                                    <button disabled class="btn btn-primary">
                                        Compar
                                    </button>
                                </template>
                                <template v-else-if="productoDetalles.enCarrito>0">
                                    <button @click="RestarAlCarrito(productoDetalles)">-</button>
                                    <span>{{productoDetalles.enCarrito}}</span>
                                    <template v-if="productoDetalles.disponibles>productoDetalles.enCarrito">
                                        <button @click="AgregarAlCarrito(productoDetalles)">+</button>
                                    </template>
                                    <template v-else>
                                        <button disabled>+</button>
                                    </template>
                                </template>
                                <template v-else>
                                    <button @click="AgregarAlCarrito(productoDetalles)"
                                    class="btn btn-primary">
                                        Comprar
                                    </button>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
        <footer>
            <div class="p">
                <p>Teléfono:</p>
            </div>
            <div class="p">
                <p>E-mail:</p>
            </div>
            <div class="imgs">
        <img class="inst" src="./assets/imagenes/instagram.png" alt="">
        <img class="face" src="./assets/imagenes/facebook.png" alt="">
        <img class="what" src="./assets/imagenes/whatsapp.png" alt="">
            </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </html>

