* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    width: 4rem;
}

nav {
    height: 10vh;
}
.navbar-nav {
    align-items:center;
}
.navbar-toggler{
    justify-content: center;
}
.nav-link {
    font: oblique bold 130% cursive;
}
#navbarNav{
    justify-content: center;
}

body h3{
    background-color: black;
}
.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
    height: 400px;
    display: flex;
}
