/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 4rem;
}

nav {
    min-height: 10vh;
    
}
.intern-nav{
    position: relative;
}
.navbar-nav {
    align-items:center;
}
.navbar-toggler{
    justify-content: center;
}
.nav-link {
    font: oblique bold 130% cursive;
}
#navbarNav{
    justify-content: center;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
    height: 400px;
    display: flex;
}
.card img{
    width: 90%;
    height: 10em;
    object-fit: contain;
    object-position: center;
}
.carrito{
    position: absolute;
    right: 50px;
}
.cart-container{
    width:100%;
    gap: 1em;
}
.cart-container .cards-container{
    width: 60%;
}
.checkout{
    padding: 0 1em;
    width: 1fr;
    border-left: 2px solid black;
}

.checkout table *{
    padding: 0 1em;
    border: 1px solid black;
    border-collapse: collapse;
}
.checkout-radio{
    width: 10em;
    display: flex;
    justify-content: space-between;
}
.checkout-shipping{
    width: 100%;
}

.checkout-modal-field{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* h1{
    padding: 4rem;
    color: #ffebb7;
    background-color: #FDA769;
    text-align: center;
    padding: 2rem;
    font-size: 5rem;
    font: oblique bold 400%;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    box-shadow: 3px 2px 20px 2px #473c33;
    text-shadow: 4px 5px 14px black;;
} */
/* .carousel-item{
    height: 10rem;
} */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --marron:#4c3c2c;
    --naranja:#f48c4c;
    --rosa: #e3947c;
    --verde:#9cbca4;
    --amarillo:#f4e3b4;
}
body{
    background-image:linear-gradient(150deg, #e3947cc1 10%,#f48c4cc1 90%),url(../imagenes/back-2.png);
    background-size: 100vw;

}
#carouselExampleControls{
    margin: 4rem 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}
h1{
    font-family: 'Modak', cursive;
    color: #ffebb7;
    background-color: #FDA769;
    text-align: center;
    padding: 2rem;
    font-size: 5rem;
    font: oblique bold 400%;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    box-shadow: 3px 2px 20px 2px #473c33;
    text-shadow: 4px 5px 14px black;;
    width: fit-content;
    margin-bottom: 4rem;
    max-width: 90%;
}
.sr-only{
    color: #473C33;
    font-size: larger;
    font-weight: bolder;
}
.d-block{
    height: 100%;
    object-fit: contain;
}
.carousel-control-next-icon{
    color: #473C33;
}
.cardHome{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-image: url('../imagenes/back.png');
    background-size: cover;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 1px 0 20px var(--marron);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.title_img{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    background-color: var(--amarillo);
    border-start-start-radius: 4.9rem;
    border-end-start-radius: 4.9rem;
    border-end-end-radius: 2rem;
}

.title_home{
    width: 50%;
    text-align: center;
    margin-left: 2rem;
    color: var(--marron)
}


.home_img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    object-fit: cover;
}

.text_home{
    text-align: center;
    background-color: #f7f1ec;
    padding: 2rem;
    color: var(--marron);
    border: 1px solid var(--marron);
    border-radius: 1rem;
}

.text_home p{
    margin: 0
}

.link_toys{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
    padding-right: 1rem;
}

.title_mobile{
    text-align: center;
    display: none;
}


.logo {
    width: 6rem;
}

.nav_col{
    background-color: #FFEBB7;
}

nav {
    min-height: 10vh;
    position: relative;
    /* border-radius: 0 0 2rem 2rem; */
    border-bottom: 3px solid var(--marron);
}
.navbar-nav {
    align-items:center;
    justify-content: space-around;
}
.navbar-toggler{
    justify-content: center;
}
.nav-link {
    color: #473C33;
    font-weight: bold;
    transition: .2s ease-in-out all;
}

.nav-link:hover{
    color: #f28a49;
}
#navbarNav{
    justify-content: center;
}
.nav_container{
    max-width: 100% !important;
    padding: 0 1rem;
}

.carousel-container{
    height: auto !important;

}
.car-container{
    width: 80%;
}
.carousel
{   
    height: auto !important;
    width: 100%;
    background-color: #0005;
    box-shadow: 4px 6px 20px 0px #473c33;
    border-radius: 6rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    backdrop-filter: blur(3px);
    overflow: hidden !important;
}

.modal_img{
    width: 50%;
}

.carousel-inner img {
    object-fit: contain;
    /* height: 100%;
    width:70%; */
    max-height: 30rem;
    margin: 0 auto;
}
/* .carousel-inner{
    display: flex;
} */
/* .carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.store-container{
    width: 90%;
    background-color: #0002;
    padding: 2rem 3rem;
    border-radius: 2rem 2rem 0 0;
}
.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-footer{
    background-color: #ffebb7 ;
}
.b-border{
    border: 2px solid var(--marron);
}

.b-rojo{
    background-color: #FDA769;
    color: white;
}

.b-rojo:hover{
    background-color: white;
    color: #FDA769;
}

.btn-secondary{
    background-color: #473C33;
    border: none;
}

.btn-secondary:hover{
    background-color: white;
    color: #473C33;
    border:none
}


.btn{
    margin-left: 10px;
}

.card-buttons-container{
    display: flex;
    justify-content: flex-start;
}


.img_container{
    display: flex;
    width: 75%;
    height: 50%;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 1rem;
    box-shadow: 8px 2px 20px grey;
    max-width: 16rem;
    min-width: 16rem;
    width: 16rem;
    /* width: 15rem; */
    border-radius: 1rem;
    overflow: hidden;
    background: url(../imagenes/back.png);
    background-size: 15em;
    border: 2px solid var(--marron);
    max-height: 23rem;
}
.img_container{
    background-color: white;
    border-radius: .5em;
    border: 3px solid var(--rosa);
    box-shadow: 2px 2px 5px black;
    /* width: 100% !important; */
    height: 11rem;
}
.card-img-top{
    width: 90%;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}
.card h5{
    background-color: #fff9;
}
.card-body{
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
    
}
.card-footer{
    width: 100%;
    background-color: #FFEBB7;
    border-top: 2px solid var(--rosa);
}
.card-text{
    padding: .2em .3em;
}
.btn-minus, .btn-plus{
    width: 2rem;
}
.btn-minus{
    border-radius: .5rem 0 0 .5rem;
}
.btn-plus{
    border-radius: 0 .5rem .5rem 0;
}
.cant-carrito{
    align-self: center;
    justify-self: center;
    width: 1rem;
    padding-left: .5em;
}
.stock_price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.stock-warning{
    border: 2px solid red;
    border-radius: .2em;
    background-color: rgba(255, 0, 0, 0.46);
}

/* .card-text{
    text-align: end;
}

.text-muted{
    text-align: end;
}
.stock{
    text-align: end;
} */

.btn-primary{
    background-color: #f28a49;
}

/* clases del footer */
footer {
    display: flex;
    flex-direction: column;
    min-height: 15vh;
    flex-wrap: wrap;
    background-color: #FFEBB7;
}
.footer {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-top: 10px;
    flex-wrap: wrap;
}
footer h6{
    font-size: 15px;
}
/* -----------carrusel------------*/

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
    height: 400px;
    display: flex;
}

/* formulario */

/* form {
    display: flex;
    border: 2px solid black;
    min-width: 15rem;
    width: 17rem;
} */

.form-contact {
    display: flex;
    border: 3px solid var(--marron);
    min-width: 15rem;
    max-width: 25rem;
    width: 100%;
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    background-color: #0002;
    font-weight: bolder;
    padding: 2rem;
}
.form-contact>div{
    width: 80%;
}
form textarea{
    resize: none;
}
/* .form-suscribe label{
    width: 50%;
} */

.nav-list{
    max-height: 100vh;
    overflow-y: scroll;
    background-color: white;
    min-width: 4em;
}
.info-container{
    width: 80%;
}
.list-group *{
    list-style: none;
}
ul{
    padding-left: 1rem;
}
.carrito{
    position: absolute;
    top: 5vh;
    right: 50%;
    translate: 50% 0%;
}
.cart-container{
    width:100%;
    gap: 1em;
}
.cart-container .cards-container{
    width: 90%;
    height: 25em;
    /* flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: left;
    align-content: flex-start;
    align-items: center;
    overflow: hidden; */
    /* padding-left: 50rem; */
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1rem;
}
/* .checkout-overflow-container{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1rem;
} */
.checkout{
    padding: 0 1em;
    width: 100%;
}
.checkout table{
    background-color: #fff8;
}
.checkout table *{
    /* padding: 0 1em; */
    border: 1px solid black;
    border-collapse: collapse;
}
thead{
    background-color: var(--verde);
}
.checkout-radio{
    width: 10em;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}
.checkout-shipping{
    width: 100%;
}

.checkout-modal-field{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.form-checkout{
    width: 100%;
}
.search{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.search_label{
    font-size: small;
    margin-right: 10px;
}

.searchbar{
    max-width: 20rem;
}
/* CUIDADOS */
.cuid{
    background-color: #FFEBB7;
    color: #4c3c2c;
    font-size: 3rem;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;

}
.cuidados{
    display: flex;
    justify-content: center;
    padding: 3rem;
    width: 100%;

}
.cuidados p{
    width: 50%;
}
.cuid-tit{
    border-radius: 1rem;
    padding: 1.5rem;
    color: #4c3c2c;
    background-color: #fff8;
}

.img-cuid{
    margin-right: 2rem;
    margin-left: 2rem;

}
.tamaño{
    width: 40%;
    /* width: 650px;
    height: 400px;  */
    /* width: 50%; */
    border-radius: 1rem;
    object-fit: contain;
}


 /* BARRA LATERAL CUIDADOS */
.cuidado-a a{
    background-color: transparent;
    border: none;
    color: #4c3c2c;
}
.cuidados p{
    align-self: stretch;
    margin: 0 !important;
} 

.cuidado-b{
    background-color: #9cbca48a;
    max-height: 100vh;
    /* display: flex;
    align-items: center; */
    border: 1px solid #4c3c2c;
    color: #4c3c2c;
    padding: .5rem;
    overflow-y: scroll;
}


.lista-animales{
    position: relative;
    display: block;
    padding: .5rem;
}

.lista-animales:hover{
    background-color: #FFEBB7;
    text-decoration: none;
    color: #4c3c2c;
    z-index: 2;
}
.list-group-item.active {
    z-index: 2;
    color: #4c3c2c;
    background-color: #FFEBB7 ;
    border-color: var(--bs-list-group-active-border-color);
}

.gap{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
/*--thank you pop ends here--*/
.checkout-shipping-subsec{
    font-weight: bolder;
}
@media (min-width: 768px){
    .nav-list{
        min-width: 17em;
    }
    .carrito{
        right: 1rem;
        translate: -25% 0%;
    }
    .search{
        flex-direction: row;
    }
    .searchbar{
        width: 20rem;
    }
    .cart-container{
        flex-direction: row !important;
        width:100%;
        border-collapse: collapse;
    }
    .cart-container .cards-container{
        width: 1fr;
        overflow: visible;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-around;
        padding-bottom: 3em;
        border-right: 3px groove var(--marron);
    }
    .checkout{
        align-self: flex-start;
        width: 1fr;
    }
    .checkout table *{
        padding: .3em 1em;
    }
    .checkout-modal-field{
        flex-direction: row !important;
    }
    .checkout-shipping-subsec{
        flex-direction: row !important;
        justify-content: space-around !important;
    }
}
@media (max-width:576px) {
    /* .cuidados-container{
        flex-direction: column;
    } */
    .cuidado-b{
        display: none;
    }
    .info-container{
        width: 100% !important;
    }
    .nav-list{
        min-height: 10vh;
        /* overflow-x: scroll; */
    }
    .list-group ul{
        display: flex;
        width: 100%;
    }
    .list-group ul>li{
        /* display: flex; */
        width: 1fr;
        justify-self: start;
    }

    ul{
        display: flex;
    }
    .info-container{
        width: 50%;
    }
    h1{
        font-size: 3rem;
    }
    .cardHome{
        width: 90%;
    }
    .title_home{
        display: none;
    }
    .title_img{
        justify-content: center;
        background-color: transparent;
    }
    .link_toys{
        flex-direction: column;
    }
    /* .b-rojo{
        width: 50%;
    } */
    .car-container{
        display: none;
    }
}

@media (max-width:1024px){
    .cuidados{
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }
    .cuidados p{
        width: 100%;
    }
    .tamaño{
        width: 60%;
    }
}